.container {
    border: 1px solid rgba(0, 0, 0, .11);
    ;
    padding: 10px;
    width: 100%;
}

.controls-item {
    display: inline-block;
}

.btn {
    margin: 1px;
}
#table-body img{
    width: 60px;
    height: 60px;
}